<link rel="stylesheet" href="../../publics/css/footer.css">

<div class="footer_contenedor">
    <div class="logo">
        
        <img src="/img/logo 1.png" alt="logo la casaca"><p>La casaca</p>
        <h4>Vistiendo con pasión</h4>
    </div>
    <div class="links_">

        <p><a href="#">Terminos y condiciones </a></p>
        <p><a href="#">Preguntas frecuentes </a></p>

        <p><a href="#">Como comprar </a></p>
        <p><a href="#">Politicas de cambio </a></p>

    </div>

    <div>
        <div class="iconos">
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div style="margin-right: 25px;">
            
            <p>Todos los derechos reservados</p>
        </div>
            
          
    </div>



</div>